@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/*Changes made:*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  
  /*This pins the footer to the bottom
  of the page:*/
  position: fixed;
  bottom: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: gray;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.left-links, .right-links {
  display: flex;
  gap:12px;
  justify-content: space-around;
  padding: 8px;
  margin: 8px;
}